In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

## **1. Build a dataset according to the DataSet table. You choose the observed process yourself.**

In [2]:
df = pd.read_csv('car_details.csv')
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [3]:
#https://www.kaggle.com/datasets/akshaydattatraykhare/car-details-dataset linf of dataset

In [4]:
df.shape # show number of rows and columns

(4340, 8)

In [5]:
df.owner.value_counts() #counts number of owners for replase to integer

First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

In [6]:
df['owner'] = df['owner'].str.replace('First Owner', '1')
df['owner'] = df['owner'].str.replace('Second Owner', '2')
df['owner'] = df['owner'].str.replace('Third Owner', '3')
df['owner'] = df['owner'].str.replace('Fourth & Above Owner', '4')
df['owner'] = df['owner'].str.replace('Test Drive Car', '0')

In [7]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,1
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,1
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,1
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,1
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,2
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,2
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,2
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,2
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,1
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,1

## **2. Build a linear regression based on a data set. You choose the feature and target columns yourself.**

In [8]:
x = df[['year', 'km_driven', 'owner']] #features
y = df['selling_price'] #target

In [9]:
x

      year  km_driven owner
0     2007      70000     1
1     2007      50000     1
2     2012     100000     1
3     2017      46000     1
4     2014     141000     2
...    ...        ...   ...
4335  2014      80000     2
4336  2014      80000     2
4337  2009      83000     2
4338  2016      90000     1
4339  2016      40000     1

[4340 rows x 3 columns]

In [10]:
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.1) # delit dataset na train i test

In [12]:
model = LinearRegression() 
model.fit(X_train,y_train)
LinearRegression()

LinearRegression()

## **3. Get a forecast for observation based on linear regression (a row instance of a dataset).**

In [13]:
y_pred = model.predict(X_test)
#y_pred

In [14]:
MSE = mean_squared_error(y_test, y_pred)
MSE

367291788312.00995

In [15]:
RMSE = np.sqrt(MSE)
RMSE

606046.0282123875

In [16]:
MAE = mean_absolute_percentage_error(y_test, y_pred)
MAE

0.8143988095204149

In [17]:
R2 = r2_score(y_test, y_pred)
R2

0.15131941887929423

## **4. Build a decision tree based on a dataset. You choose the feature(2) and target columns yourself.**

In [18]:
x = df[['year', 'km_driven']]
y = df['selling_price']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=1)

In [20]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [21]:
y_pred = clf.predict(X_test)

## **5. Get a forecast for observation based on the decision tree method (a row instance of a dataset).**

In [22]:
confusion_matrix(y_test, y_pred)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 2]])

In [23]:
precision_score(y_test, y_pred, average='macro')

/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.18182577353561807

In [24]:
recall_score(y_test, y_pred, average='macro' )

/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.15902822836684466

In [25]:
f1_score(y_test, y_pred, average='macro')

0.15987585472475385

## **6. Generate 5 samples of 500 observations from the original data set. The lines are selected randomly and can be repeated.**

In [26]:
df = df[['year', 'km_driven', 'selling_price']]

In [27]:
sample1 = df.sample(n = 500)
sample2 = df.sample(n = 500)
sample3 = df.sample(n = 500)
sample4 = df.sample(n = 500)
sample5 = df.sample(n = 500)

## **7. Build your own decision tree for each of the samples.**

In [28]:
x1 = sample1[['year', 'km_driven']]
y1 = sample1['selling_price']

In [29]:
x2 = sample2[['year', 'km_driven']]
y2 = sample2['selling_price']

In [30]:
x3 = sample3[['year', 'km_driven']]
y3 = sample3['selling_price']

In [31]:
x4 = sample4[['year', 'km_driven']]
y4 = sample4['selling_price']

In [32]:
x5 = sample5[['year', 'km_driven']]
y5 = sample5['selling_price']

In [33]:
X_train_s1, X_test_s1, y_train_s1, y_test_s1 = train_test_split(x1, y1, test_size=0.1, random_state=1)

In [34]:
X_train_s2, X_test_s2, y_train_s2, y_test_s2 = train_test_split(x2, y2, test_size=0.1, random_state=1)

In [35]:
X_train_s3, X_test_s3, y_train_s3, y_test_s3 = train_test_split(x3, y3, test_size=0.1, random_state=1)

In [36]:
X_train_s4, X_test_s4, y_train_s4, y_test_s4 = train_test_split(x4, y4, test_size=0.1, random_state=1)

In [37]:
X_train_s5, X_test_s5, y_train_s5, y_test_s5 = train_test_split(x5, y5, test_size=0.1, random_state=1)

In [38]:
clf_s1 = DecisionTreeClassifier()
clf_s1 = clf.fit(X_train_s1,y_train_s1)

In [39]:
clf_s2 = DecisionTreeClassifier()
clf_s2 = clf.fit(X_train_s2,y_train_s2)

In [40]:
clf_s3 = DecisionTreeClassifier()
clf_s3 = clf.fit(X_train_s3,y_train_s3)

In [41]:
clf_s4 = DecisionTreeClassifier()
clf_s4 = clf.fit(X_train_s4,y_train_s4)

In [42]:
clf_s5 = DecisionTreeClassifier()
clf_s5 = clf.fit(X_train_s5,y_train_s5)

In [43]:
y_pred_s1 = clf_s1.predict(X_test_s1)

In [44]:
y_pred_s2 = clf_s2.predict(X_test_s2)

In [45]:
y_pred_s3 = clf_s3.predict(X_test_s3)

In [46]:
y_pred_s4 = clf_s4.predict(X_test_s4)

In [47]:
y_pred_s5 = clf_s5.predict(X_test_s5)

## **8. Get a forecast for each of the tree based on one observation. Average the result.**

In [48]:
ps_s1 = precision_score(y_test_s1, y_pred_s1, average='macro')
ps_s2 = precision_score(y_test_s2, y_pred_s2, average='macro')
ps_s3 = precision_score(y_test_s3, y_pred_s3, average='macro')
ps_s4 = precision_score(y_test_s4, y_pred_s4, average='macro')
ps_s5 = precision_score(y_test_s5, y_pred_s5, average='macro')

/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [51]:
rs_s1 = recall_score(y_test_s1, y_pred_s1, average='macro')
rs_s2 = recall_score(y_test_s2, y_pred_s2, average='macro')
rs_s3 = recall_score(y_test_s3, y_pred_s3, average='macro')
rs_s4 = recall_score(y_test_s4, y_pred_s4, average='macro')
rs_s5 = recall_score(y_test_s5, y_pred_s5, average='macro')

/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/nazgul/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [53]:
f1_s1 = f1_score(y_test_s1, y_pred_s1, average='macro')
f1_s2 = f1_score(y_test_s2, y_pred_s2, average='macro')
f1_s3 = f1_score(y_test_s3, y_pred_s3, average='macro')
f1_s4 = f1_score(y_test_s4, y_pred_s4, average='macro')
f1_s5 = f1_score(y_test_s5, y_pred_s5, average='macro')

## **9. Analysis and comparison of results**

In [58]:
precision_score = [ps_s1, ps_s2, ps_s3, ps_s4, ps_s5]
recall = [rs_s1, rs_s2, rs_s3, rs_s4, rs_s5]
f1 = [f1_s1, f1_s2, f1_s3, f1_s4, f1_s5]

df = pd.DataFrame(list(zip(precision_score, recall, f1)),columns =['precision_score', 'recall', 'f1']) 
df

   precision_score    recall        f1
0         0.113636  0.119697  0.110303
1         0.067797  0.050847  0.054883
2         0.142473  0.145161  0.137097
3         0.031746  0.047619  0.037037
4         0.070175  0.064912  0.063492